// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT SIZE
$px10: 0.625rem;
$font-size-default: 1rem;

// BORDER-RADIUS
$border-radius-small: 3px;

// GRID
$grid-width: 71.25rem; // 1140px
$gutter-vertical: 5rem; // 80px
$gutter-horizontal: 3.75rem; // 60px

// MEDIA QUERY BREAKPOINTS
/*
0 - 600px:    Phone
600 - 900px:  Tablet / Portrait
900 - 1200px: Tablet / Landscape
1200 - 1800px: Desktop <--- Default Style (Desktop-first)
1800px +      Big Desktop
*/
$screen-smallest: 600px;
$screen-small: 900px;
$screen-medium: 1200px;
$screen-huge: 1800px;
