// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT SIZE
$font-size-15: 0.938rem;
$font-size-default: 1rem;
$font-size-20: 1.25rem;
$font-size-30: 1.875rem;
$font-size-35: 2.188rem;
$font-size-40: 2.5rem;
$font-size-60: 3.75rem;
$font-size-80: 5rem;

// WIDTH / HEIGHT
$length-250: 15.625rem;

// GRID
$grid-width: 71.25rem; // 1140px
$gutter-vertical: 5rem; // 80px
$gutter-horizontal: 3.75rem; // 60px
