// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT SIZE
$font-size-10: 0.625rem;
$font-size-default: 1rem;

// GRID
$grid-width: 71.25rem; // 1140px
$gutter-vertical: 5rem; // 80px
$gutter-horizontal: 3.75rem; // 60px
