/*
0 - 600px:    Phone
600 - 900px:  Tablet / Portrait
900 - 1200px: Tablet / Landscape
1200 - 1800px: Desktop <--- Default Style (Desktop-first)
1800px +      Big Desktop
*/
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem);
  }
  80% {
    transform: translateX(0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(6.25rem);
  }
  80% {
    transform: translateX(-0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(1.875rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #2998ff;
}
*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px solid #2998ff;
  border-radius: 2px;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  padding: 1.875rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.hidden {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-size: clamp( 0.75rem, 0.487804878vw + 0.6646341463rem, 1.25rem );
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.75rem;
}
.heading-primary--main {
  display: block;
  font-size: 3.75rem;
  font-size: clamp( 1.5625rem, 2.1341463415vw + 1.1890243902rem, 3.75rem );
  font-weight: 400;
  letter-spacing: 2.1875rem;
  padding-left: 2.1875rem;
  padding-left: clamp( 0.625rem, 1.5243902439vw + 0.3582317073rem, 2.1875rem );
  animation: moveInFromLeft 1s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: clamp( 0.625rem, 3.125vw + 0.078125rem, 1.25rem );
  }
}
.heading-primary--sub {
  display: block;
  font-size: 1.25rem;
  font-size: clamp( 0.9375rem, 0.9146341463vw + 0.7774390244rem, 1.875rem );
  font-weight: 700;
  letter-spacing: 1.0625rem;
  padding-left: 1.0625rem;
  animation: moveInFromRight 1s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.3125rem;
  }
}

.heading-secondary {
  font-size: 2.1875rem;
  font-size: clamp( 1rem, 1.1585365854vw + 0.7972560976rem, 2.1875rem );
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
@media (hover: hover) and (pointer: fine) {
  .heading-secondary:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.3125rem 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
  }
}

.heading-tertiary {
  font-size: 1rem;
  font-size: clamp( 0.75rem, 0.487804878vw + 0.6646341463rem, 1.25rem );
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
  font-size: clamp( 0.75rem, 0.487804878vw + 0.6646341463rem, 1.25rem );
}
.paragraph:not(:last-child) {
  margin-bottom: 1.875rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-top-medium {
  margin-top: 3.75rem;
}

.u-margin-top-big {
  margin-top: 5rem;
}

.u-margin-top-huge {
  margin-top: 6.25rem;
}

.u-margin-bottom-small {
  margin-bottom: 0.9375rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 1.875rem;
  }
}

.u-margin-bottom-big {
  margin-bottom: 5rem;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 3.125rem;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 6.25rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  overflow: hidden;
  z-index: -1;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  z-index: 0;
}
.btn, .btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  font-size: clamp( 0.875rem, 0.3658536585vw + 0.8109756098rem, 1.25rem );
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  transition: all 0.3s;
  padding: 0.875rem 2.5rem;
  border: none;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
  }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--animated {
  animation: moveInFromBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: -1;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1rem;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px 6px;
  transition: all 0.2s;
}
@media (hover: hover) and (pointer: fine) {
  .btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
}
.btn-text:active {
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card {
  perspective: 93.75rem;
  position: relative;
  height: 35rem;
}
.card__side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  transition: all 0.8s ease;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
@media screen and (min-width: 901px) {
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
}
.card__picture {
  height: 14.375rem;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5-small.jpg);
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .card__picture--1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
  }
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6-small.jpg);
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .card__picture--2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
  }
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7-small.jpg);
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .card__picture--3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
  }
}
.card__heading {
  position: absolute;
  top: 7.5rem;
  right: 1.25rem;
  width: 70%;
  font-size: 1.75rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-align: right;
}
@media (max-width: 75em) {
  .card__heading {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
.card__heading-span {
  padding: 0.625rem 0.9375rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 1.875rem;
}
@media (max-width: 75em) {
  .card__details {
    padding: 0.625rem 1.875rem;
  }
}
.card__details ul {
  width: 80%;
  list-style: none;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 0.9375rem;
  padding: 0.625rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__price-box {
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}
.card__price-only {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 3.75rem;
  font-weight: 100;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
}
@media (max-width: 56.25em) and (hover: hover) and (pointer: fine) {
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
}
@media (max-width: 56.25em) {
  .card__cta {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 4.375rem 2.5rem 2.5rem 2.5rem;
  }
}
@media (max-width: 56.25em) {
  .card__price-box {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 56.25em) {
  .card__price-value {
    font-size: 2.5rem;
  }
}

.composition {
  position: relative;
  height: 100%;
  margin-top: 1.875rem;
}
@media (max-width: 56.25em) {
  .composition {
    margin-top: 0;
  }
}
.composition__photo {
  width: 55%;
  box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s, border-radius 0s;
  outline-offset: 20px;
}
@media (max-width: 56.25em) {
  .composition__photo {
    position: relative;
    width: 30%;
    box-shadow: 0 0.9375rem 1.875rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo--p1 {
  left: 0;
  top: -1.25rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0.625rem;
    transform: scale(1.2);
  }
}
.composition__photo--p2 {
  right: 0;
  top: 1.25rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p2 {
    top: -0.625rem;
    transform: scale(1.3);
    z-index: 100;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 6.25rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 0.625rem;
    left: 0;
    transform: scale(1.1);
  }
}
@media (hover: hover) and (pointer: fine) {
  .composition__photo:hover {
    outline: 15px solid #55c57a;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 1.5625rem 2.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0;
    z-index: 20;
  }
}
@media (hover: hover) and (pointer: fine) {
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
  }
}

.feature-box {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.9375rem;
  padding: 1.5625rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 1.25rem;
  }
}
.feature-box__icon {
  font-size: 3.75rem;
  margin-block: 0.9375rem 1.5625rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 56.25em) {
  .feature-box__icon {
    margin-block: 0.9375rem 1.25rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .feature-box:hover {
    transform: translateY(-0.9375rem) scale(1.03);
  }
}

.form__group:not(:last-child) {
  margin-bottom: 1.25rem;
}
.form__input {
  display: block;
  font-family: inherit;
  font-size: 0.9375rem;
  color: inherit;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  padding: 0.9375rem 1.25rem;
  transition: all 0.3s;
}
@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-moz-placeholder {
  color: #999;
}
.form__input::placeholder {
  color: #999;
}
.form__label {
  display: block;
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: 1.25rem;
  margin-top: 0.4375rem;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1.25rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1.25rem);
}
.form__group--radio {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .form__group--radio {
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  .form__group--radio {
    flex-direction: column;
    align-items: start;
    gap: 0.625rem;
  }
}
.form .form__group--radio {
  margin-bottom: 0;
}
.form__radio-group {
  position: relative;
}
.form__radio-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  left: -1rem;
}
.form__radio-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  font-size: 1rem;
  cursor: pointer;
}
.form__radio-button {
  width: 0.625rem;
  height: 0.625rem;
  border: 4px solid #55c57a;
  border-radius: 50%;
  padding: 0.625rem;
  position: relative;
}
.form__radio-button::after {
  content: "";
  opacity: 0;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #55c57a;
  padding: 0.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.4s 0.2s;
}
@media (max-width: 75em) {
  .popup__content {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 69.9%, transparent 70% 100%), url("../../img/hero-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 56.25em) {
  .popup__content {
    height: 70%;
    width: 90%;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0% 100%), url("../../img/hero-small.jpg");
  }
}
@media (max-width: 56.25em) {
  .popup__content {
    width: 85%;
    align-items: start;
  }
}
.popup__left {
  width: 33%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 75em) {
  .popup__left {
    display: none;
  }
}
.popup__right {
  width: 67%;
  height: 100%;
  padding: 1.875rem 3.125rem;
}
@media (max-width: 56.25em) {
  .popup__right {
    width: 100%;
    overflow-y: scroll;
  }
}
@media (max-width: 37.5em) {
  .popup__right {
    padding: 1.25rem 1.875rem;
  }
}
.popup__img {
  height: 50%;
  width: 100%;
}
.popup__text {
  font-size: 0.875rem;
  margin-bottom: 2.5rem;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  -moz-column-rule: 1px solid #eee;
       column-rule: 1px solid #eee;
  -webkit-hyphens: auto;
  hyphens: auto;
}
@media (max-width: 75em) {
  .popup__text {
    -moz-column-count: 1;
         column-count: 1;
    -moz-column-rule: none;
         column-rule: none;
  }
}
.popup__close {
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  line-height: 1;
  color: #333;
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
  transition: all 0.2s;
  cursor: pointer;
}
@media (max-width: 37.5em) {
  .popup__close {
    top: 1.25rem;
    right: 1.25rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .popup__close:hover {
    color: #55c57a;
  }
}
.popup__close:active {
  color: #55c57a;
}

.story-container {
  position: relative;
  max-width: 81.25rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.story {
  width: 85%;
  height: 100%;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  box-shadow: 0 1.875rem 3.75rem rgba(0, 0, 0, 0.1);
  padding: 3.75rem;
  padding-left: 5.625rem;
  margin: 0 auto;
  transform: skewX(-12deg);
  position: relative;
}
@media (max-width: 75em) {
  .story {
    width: 100%;
    padding: 3.125rem;
    padding-left: 4.6875rem;
  }
}
@media (max-width: 56.25em) {
  .story {
    tranform: skewX(12deg);
    padding: 2.5rem;
    transform: skewX(0);
  }
}
@media (max-width: 56.25em) {
  .story__flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.story__shape {
  width: 9.375rem;
  height: 9.375rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  transform: translateX(-1.875rem) skewX(12deg);
  position: relative;
}
@media (max-width: 56.25em) {
  .story__shape {
    float: none;
    transform: skewX(0);
  }
}
.story__img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  transition: all 0.5s;
}
@media (max-width: 75em) {
  .story__img {
    filter: blur(3px) brightness(0.9);
    transform: translate(-50%, -50%) scale(1);
  }
}
.story__text {
  transform: skewX(12deg);
}
@media (max-width: 56.25em) {
  .story__text {
    transform: skewX(0);
    margin-top: 1.875rem;
  }
}
.story__caption {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 1.0625rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s;
  backface-visibility: hidden;
}
@media (max-width: 75em) {
  .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1201px) {
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  .story:hover .story__img {
    filter: blur(3px) brightness(0.9);
    transform: translate(-50%, -50%) scale(1);
  }
}

.btn--story {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: rgba(85, 197, 122, 0.8);
  cursor: pointer;
}

.btn--prev {
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}

.btn--next {
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 0.9375rem;
  background-color: #333;
  padding: 0.875rem;
}
@media (max-width: 37.5em) {
  .footer {
    gap: 3.75rem;
    font-size: 0.75rem;
  }
}
.footer__logo-box {
  width: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .footer__logo-box {
    width: 6.25rem;
    margin-top: 3.75rem;
  }
}
.footer__logo {
  width: 100%;
}
.footer__content {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: clamp( 6.25rem, 11.3636363636vw + 1.9886363636rem, 15.625rem );
       column-gap: clamp( 6.25rem, 11.3636363636vw + 1.9886363636rem, 15.625rem );
  align-items: start;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .footer__content {
    margin-bottom: 3.75rem;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
}
.footer__navigation {
  border-top: 1px solid #777;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
  list-style: none;
  padding-top: 0.9375rem;
}
.footer__link:link, .footer__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f7f7;
  transition: all 0.2s;
}
@media (hover: hover) and (pointer: fine) {
  .footer__link:hover {
    color: #55c57a;
  }
}
.footer__link:active {
  color: #55c57a;
}
.footer__copyright {
  text-align: right;
  border-top: 1px solid #777;
}
@media (max-width: 37.5em) {
  .footer__copyright {
    text-align: center;
  }
}
.footer__author {
  padding-top: 0.9375rem;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid {
  max-width: 71.25rem;
  display: grid;
  -moz-column-gap: 3.75rem;
       column-gap: 3.75rem;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .grid {
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 3rem;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/hero.jpg);
  }
}
@media (max-width: 75em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  height: 2.1875rem;
}
@media (max-width: 37.5em) {
  .header__logo-box {
    height: 1.5625rem;
    top: 1.5625rem;
    left: 1.5625rem;
  }
}
.header__logo {
  height: 100%;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navigation__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: fixed;
  top: 1.875rem;
  right: 1.875rem;
}
.navigation__button {
  height: 4.375rem;
  width: 4.375rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 4.375rem;
  right: 4.375rem;
  background-color: #fff;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  cursor: pointer;
  z-index: 2000;
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 2.5rem;
    right: 2.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    height: 3.4375rem;
    width: 3.4375rem;
    top: 1.25rem;
    right: 1.25rem;
  }
}
.navigation__background {
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  position: fixed;
  top: 4.6875rem;
  right: 4.6875rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);
  z-index: 1000;
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 2.8125rem;
    right: 2.8125rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    height: 2.8125rem;
    width: 2.8125rem;
    top: 1.5625rem;
    right: 1.5625rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  overflow: hidden;
}
.navigation__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.875rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0% 49.99%, #fff 50% 100%);
  background-size: 225%;
  padding: 0.625rem 1.25rem;
  transition: all 0.4s;
}
@media (max-width: 37.5em) {
  .navigation__link:link, .navigation__link:visited {
    font-size: clamp( 1.5rem, 1.875vw + 1.171875rem, 1.875rem );
  }
}
@media (hover: hover) and (pointer: fine) {
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(0.625rem);
  }
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible;
}
.navigation__icon {
  position: relative;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 1.875rem;
  height: 3px;
  background-color: #777;
  border-radius: 3px;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.5rem;
}
.navigation__icon::after {
  top: 0.5rem;
}
@media (hover: hover) and (pointer: fine) {
  .navigation__button:hover .navigation__icon::before {
    top: -0.625rem;
  }
  .navigation__button:hover .navigation__icon::after {
    top: 0.625rem;
  }
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.section-about {
  background-color: #f7f7f7;
  padding-block: 18.75rem;
  margin-top: -20vh;
}
@media (max-width: 56.25em) {
  .section-about {
    padding-block: 17.8125rem;
  }
}
@media (max-width: 37.5em) {
  .section-about {
    padding-block: 12.5rem;
  }
}
.section-about .grid .col {
  height: 100%;
}

.section-features {
  position: relative;
  transform: skewY(-7deg);
  padding-block: 12.5rem;
  margin-top: -5.625rem;
}
@media (max-width: 56.25em) {
  .section-features {
    padding-block: 9.375rem;
  }
}
@media (max-width: 37.5em) {
  .section-features {
    padding-block: 8.125rem;
  }
}
.section-features .grid {
  grid-auto-rows: 1fr;
  row-gap: 3rem;
}
@media (max-width: 75em) {
  .section-features .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 56.25em) {
  .section-features .grid {
    grid-template-columns: 1fr;
    max-width: 31.25rem;
  }
}
.section-features .col {
  height: 100%;
}
.section-features > * {
  transform: skewY(7deg);
}
.section-features::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4-small.jpg);
  background-size: cover;
  z-index: -1;
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .section-features::before {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding-block: 15.625rem 4.375rem;
  margin-top: -5.625rem;
}
.section-tours .col {
  height: 100%;
}
@media (max-width: 75em) {
  .section-tours .grid {
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
@media (max-width: 56.25em) {
  .section-tours {
    padding-block: 12.5rem 3.125rem;
  }
  .section-tours .grid {
    max-width: 31.25rem;
  }
}
@media (max-width: 37.5em) {
  .section-tours {
    padding-block: 11.25rem 1.875rem;
  }
}

.section-stories {
  position: relative;
  padding-block: 9.375rem;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding-block: 6.25rem;
  }
}
@media (max-width: 37.5em) {
  .section-stories {
    padding-block: 5rem;
  }
}

.section-book {
  padding-block: 9.375rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media (max-width: 56.25em) {
  .section-book {
    padding-block: 6.25rem;
  }
}
@media (max-width: 37.5em) {
  .section-book {
    padding-block: 5rem;
  }
}

.book-container {
  max-width: 71.25rem;
  margin: 0 auto;
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 49.9%, transparent 50% 100%), url(../../img/nat-10-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.2);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 125em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 49.9%, transparent 50% 100%), url(../../img/nat-10.jpg);
  }
}
@media (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 64.9%, transparent 65% 100%), url(../../img/nat-10-small.jpg);
  }
}
@media (max-width: 75em) and (-webkit-min-device-pixel-ratio: 2), (max-width: 75em) and (min-resolution: 192dpi) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 64.9%, transparent 65% 100%), url(../../img/nat-10.jpg);
  }
}
@media (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0% 100%), url(../../img/nat-10-small.jpg);
  }
}
@media (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 2), (max-width: 56.25em) and (min-resolution: 192dpi) {
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0% 100%), url(../../img/nat-10.jpg);
  }
}
.book__form {
  width: 50%;
  padding: 3.75rem;
}
@media (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  .book__form {
    padding: 2.5rem;
  }
}

.section {
  padding-inline: 5rem;
  padding-inline: clamp( 1.5625rem, 8.152173913vw + 0.1358695652rem, 6.25rem );
}/*# sourceMappingURL=main.css.map */