@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem);
  }
  80% {
    transform: translateX(0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(6.25rem);
  }
  80% {
    transform: translateX(-0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(1.875rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
  padding: 1.875rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.75rem;
}
.heading-primary--main {
  display: block;
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 2.1875rem;
  padding-left: 2.1875rem;
  animation: moveInFromLeft 1s ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1.0625rem;
  padding-left: 1.0625rem;
  animation: moveInFromRight 1s ease-out;
}

.heading-secondary {
  font-size: 2.1875rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skew(15deg, 2deg) scale(1.1);
  text-shadow: 0.3125rem 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 1.875rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-top-big {
  margin-top: 5rem;
}

.u-margin-top-huge {
  margin-top: 6.25rem;
}

.u-margin-bottom-small {
  margin-bottom: 0.9375rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 5rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  overflow: hidden;
  z-index: -1;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  z-index: 0;
}
.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  transition: all 0.3s;
  padding: 0.875rem 2.5rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--animated {
  animation: moveInFromBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: -1;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1rem;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px 6px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card {
  perspective: 93.75rem;
  position: relative;
  height: 32.5rem;
}
.card__side {
  width: 100%;
  height: 32.5rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  transition: all 0.8s ease;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  height: 14.375rem;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card__heading {
  position: absolute;
  top: 7.5rem;
  right: 1.25rem;
  width: 70%;
  font-size: 1.75rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-align: right;
}
.card__heading-span {
  padding: 0.625rem 0.9375rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 1.875rem;
}
.card__details ul {
  width: 80%;
  list-style: none;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 0.9375rem;
  padding: 0.625rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}
.card__price-box {
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}
.card__price-only {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 3.75rem;
  font-weight: 100;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s, border-radius 0s;
  outline-offset: 20px;
}
.composition__photo--p1 {
  left: 0;
  top: -1.25rem;
}
.composition__photo--p2 {
  right: 0;
  top: 1.25rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 6.25rem;
}
.composition__photo:hover {
  outline: 15px solid #55c57a;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 1.5625rem 2.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0;
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.9375rem;
  padding: 1.5625rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.feature-box__icon {
  font-size: 3.75rem;
  margin-block: 0.9375rem 1.5625rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-0.9375rem) scale(1.03);
}

.story-container {
  position: relative;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.story {
  width: 75%;
  height: 100%;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  box-shadow: 0 1.875rem 3.75rem rgba(0, 0, 0, 0.1);
  padding: 3.75rem;
  padding-left: 5.625rem;
  margin: 0 auto;
  transform: skewX(-12deg);
  position: relative;
}
.story__shape {
  width: 9.375rem;
  height: 9.375rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  transform: translateX(-1.875rem) skewX(12deg);
  position: relative;
}
.story__img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  transition: all 0.5s;
}
.story__text {
  transform: skewX(12deg);
}
.story__caption {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 1.0625rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  filter: blur(3px) brightness(0.9);
  transform: translate(-50%, -50%) scale(1);
}

.btn--story {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: rgba(85, 197, 122, 0.8);
  cursor: pointer;
}

.btn--prev {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-7%, -50%);
}

.btn--next {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translate(-7%, -50%);
}

.grid {
  max-width: 71.25rem;
  display: grid;
  -moz-column-gap: 3.75rem;
       column-gap: 3.75rem;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  height: 2.1875rem;
}
.header__logo {
  height: 100%;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: #f7f7f7;
  padding: 15.625rem 0;
  margin-top: -20vh;
}

.section-features {
  position: relative;
  transform: skewY(-7deg);
  padding: 12.5rem 0;
  margin-top: -5.625rem;
}
.section-features > * {
  transform: skewY(7deg);
}
.section-features::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  z-index: -1;
}

.section-tours {
  background-color: #f7f7f7;
  padding: 15.625rem 0 4.375rem 0;
  margin-top: -5.625rem;
}

.section-stories {
  position: relative;
  padding: 9.375rem 0;
}/*# sourceMappingURL=main.css.map */