@use "../abstracts/variables" as v;

.grid {
  max-width: v.$grid-width;
  display: grid;
  column-gap: v.$gutter-horizontal;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
