@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.navigation {
  &__checkbox {
    appearance: none;
    position: fixed;
    top: f.rem(30px);
    right: f.rem(30px);
  }

  &__button {
    height: f.rem(70px);
    width: f.rem(70px);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: f.rem(70px);
    right: f.rem(70px);
    background-color: v.$color-white;
    box-shadow: 0 f.rem(10px) f.rem(30px) rgba(v.$color-black, 0.1);

    transition: all 0.2s;
    cursor: pointer;
    z-index: 2000;

    @include m.respondMax(v.$screen-small) {
      top: f.rem(40px);
      right: f.rem(40px);
    }

    @include m.respondMax(v.$screen-smallest) {
      height: f.rem(55px);
      width: f.rem(55px);

      top: f.rem(20px);
      right: f.rem(20px);
    }
  }

  &__background {
    height: f.rem(60px);
    width: f.rem(60px);
    border-radius: 50%;

    position: fixed;
    top: f.rem(75px);
    right: f.rem(75px);
    background-image: radial-gradient(
      v.$color-primary-light,
      v.$color-primary-dark
    );

    transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);
    z-index: 1000;

    @include m.respondMax(v.$screen-small) {
      top: f.rem(45px);
      right: f.rem(45px);
    }

    @include m.respondMax(v.$screen-smallest) {
      height: f.rem(45px);
      width: f.rem(45px);

      top: f.rem(25px);
      right: f.rem(25px);
    }
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    visibility: hidden;

    transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    overflow: hidden;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: f.rem(10px);

    @include m.absoluteCenter;
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;

      text-decoration: none;
      font-size: f.rem(30px);
      font-weight: 300;
      color: v.$color-white;
      text-transform: uppercase;

      background-image: linear-gradient(
        120deg,
        transparent 0% 49.99%,
        v.$color-white 50% 100%
      );
      background-size: 225%;

      padding: f.rem(10px) f.rem(20px);
      transition: all 0.4s;

      @include m.respondMax(v.$screen-smallest) {
        font-size: #{f.fluid(24px, 30px, 280px, 600px)};
      }
    }

    @media (hover: hover) {
      &:hover,
      &:active {
        background-position: 100%;
        color: v.$color-primary;
        transform: translateX(f.rem(10px));
      }
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    visibility: visible;
  }

  // ICON
  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: f.rem(30px);
      height: 3px;

      background-color: v.$color-grey-dark-1;
      border-radius: 3px;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: f.rem(-8px);
    }
    &::after {
      top: f.rem(8px);
    }
  }

  @media (hover: hover) {
    &__button:hover &__icon::before {
      top: f.rem(-10px);
    }
    &__button:hover &__icon::after {
      top: f.rem(10px);
    }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }
    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
