@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.card {
  // FUNCTIONALITY
  perspective: f.rem(1500px);
  position: relative;
  height: f.rem(560px);

  &__side {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    border-radius: v.$border-radius-small;
    overflow: hidden;
    box-shadow: 0 f.rem(15px) f.rem(40px) rgba(v.$color-black, 0.15);
    backface-visibility: hidden;
    transition: all 0.8s ease;

    &--front {
      background-color: v.$color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          v.$color-secondary-light,
          v.$color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          v.$color-primary-light,
          v.$color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          v.$color-tertiary-light,
          v.$color-tertiary-dark
        );
      }
    }
  }

  @media (hover: hover) and (pointer: fine), (min-width: 901px) {
    &:hover &__side--front {
      transform: rotateY(-180deg);
    }
    &:hover &__side--back {
      transform: rotateY(0);
    }
  }

  // FRONT SIDE STYLING
  &__picture {
    height: f.rem(230px);
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          v.$color-secondary-light,
          v.$color-secondary-dark
        ),
        url(../img/nat-5-small.jpg);

      @media (min-resolution: 192dpi) and (min-width: 37.5em),
        (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            v.$color-secondary-light,
            v.$color-secondary-dark
          ),
          url(../img/nat-5.jpg);
      }
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          v.$color-primary-light,
          v.$color-primary-dark
        ),
        url(../img/nat-6-small.jpg);

      @media (min-resolution: 192dpi) and (min-width: 37.5em),
        (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            v.$color-primary-light,
            v.$color-primary-dark
          ),
          url(../img/nat-6.jpg);
      }
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          v.$color-tertiary-light,
          v.$color-tertiary-dark
        ),
        url(../img/nat-7-small.jpg);

      @media (min-resolution: 192dpi) and (min-width: 37.5em),
        (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            v.$color-tertiary-light,
            v.$color-tertiary-dark
          ),
          url(../img/nat-7.jpg);
      }
    }
  }

  &__heading {
    position: absolute;
    top: f.rem(120px);
    right: f.rem(20px);
    width: 70%;

    font-size: f.rem(28px);
    font-weight: 300;
    text-transform: uppercase;
    color: v.$color-white;
    text-align: right;

    @include m.respondMax(v.$screen-medium) {
      & {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
    }
  }

  &__heading-span {
    padding: f.rem(10px) f.rem(15px);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba(v.$color-secondary-light, 0.85),
        rgba(v.$color-secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba(v.$color-primary-light, 0.85),
        rgba(v.$color-primary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba(v.$color-tertiary-light, 0.85),
        rgba(v.$color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: f.rem(30px);

    @include m.respondMax(v.$screen-medium) {
      & {
        padding: f.rem(10px) f.rem(30px);
      }
    }

    ul {
      width: 80%;
      list-style: none;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: f.rem(15px);
        padding: f.rem(10px);

        &:not(:last-child) {
          border-bottom: 1px solid v.$color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    width: 90%;

    @include m.absoluteCenter;
  }

  &__price-box {
    color: v.$color-white;
    text-align: center;
    margin-bottom: f.rem(80px);
  }
  &__price-only {
    font-size: f.rem(14px);
    text-transform: uppercase;
  }
  &__price-value {
    font-size: f.rem(60px);
    font-weight: 100;
  }

  ///////////////////////////////////////////////////
  ///////////////////////////////////////////////////
  // MEDIA QUERY FOR SCREEN <= 900PX
  @include m.respondMax(v.$screen-small) {
    & {
      height: auto;
      border-radius: 3px;
      background-color: v.$color-white;
      box-shadow: 0 f.rem(15px) f.rem(40px) rgba(v.$color-black, 0.15);
    }

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover &__side--front {
        transform: rotateY(0);
      }
    }

    // BACK SIDE STYLING
    &__cta {
      width: 100%;

      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      padding: f.rem(70px) f.rem(40px) f.rem(40px) f.rem(40px);
    }

    &__price-box {
      margin-bottom: f.rem(30px);
    }
    &__price-value {
      font-size: f.rem(40px);
    }
  }
}
