@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.card {
  // FUNCTIONALITY
  perspective: v.$px10 * 150;
  position: relative;
  height: v.$px10 * 52;

  &__side {
    width: 100%;
    height: v.$px10 * 52;
    position: absolute;
    top: 0;
    left: 0;

    border-radius: v.$border-radius-small;
    overflow: hidden;
    box-shadow: 0 v.$px10 * 1.5 v.$px10 * 4 rgba(v.$color-black, 0.15);
    backface-visibility: hidden;
    transition: all 0.8s ease;

    &--front {
      background-color: v.$color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          v.$color-secondary-light,
          v.$color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          v.$color-primary-light,
          v.$color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          v.$color-tertiary-light,
          v.$color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    height: v.$px10 * 23;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          v.$color-secondary-light,
          v.$color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          v.$color-primary-light,
          v.$color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          v.$color-tertiary-light,
          v.$color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    position: absolute;
    top: v.$px10 * 12;
    right: v.$px10 * 2;
    width: 70%;

    font-size: v.$px10 * 2.8;
    font-weight: 300;
    text-transform: uppercase;
    color: v.$color-white;
    text-align: right;
  }

  &__heading-span {
    padding: v.$px10 v.$px10 * 1.5;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba(v.$color-secondary-light, 0.85),
        rgba(v.$color-secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba(v.$color-primary-light, 0.85),
        rgba(v.$color-primary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba(v.$color-tertiary-light, 0.85),
        rgba(v.$color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: v.$px10 * 3;

    ul {
      width: 80%;
      list-style: none;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: v.$px10 * 1.5;
        padding: v.$px10;

        &:not(:last-child) {
          border-bottom: 1px solid v.$color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    width: 90%;

    @include m.absoluteCenter;
  }

  &__price-box {
    color: v.$color-white;
    text-align: center;
    margin-bottom: v.$px10 * 8;
  }
  &__price-only {
    font-size: v.$px10 * 1.4;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: v.$px10 * 6;
    font-weight: 100;
  }
}
