@use "../abstracts/variables" as v;

.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 15px 40px rgba(v.$color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s, border-radius 0s;
    outline-offset: 20px;

    &--p1 {
      left: 0;
      top: -#{v.$font-size-20};
    }
    &--p2 {
      right: 0;
      top: v.$font-size-20;
    }
    &--p3 {
      left: 20%;
      top: 6.25rem;
    }

    &:hover {
      outline: 15px solid v.$color-primary;
      transform: scale(1.05) translateY((-5px));
      box-shadow: 0 25px 40px rgba(v.$color-black, 0.5);
      border-radius: 0;
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
