@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;

.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 f.rem(15px) f.rem(40px) rgba(v.$color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s, border-radius 0s;
    outline-offset: 20px;

    &--p1 {
      left: 0;
      top: f.rem(-20px);
    }
    &--p2 {
      right: 0;
      top: f.rem(20px);
    }
    &--p3 {
      left: 20%;
      top: f.rem(100px);
    }

    &:hover {
      outline: 15px solid v.$color-primary;
      transform: scale(1.05) translateY((-5px));
      box-shadow: 0 f.rem(25px) f.rem(40px) rgba(v.$color-black, 0.5);
      border-radius: 0;
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
