@use "../abstracts/variables" as v;

.feature-box {
  background-color: rgba(v.$color-white, 0.8);
  font-size: v.$px10 * 1.5;
  padding: v.$px10 * 2.5;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 v.$px10 * 1.5 v.$px10 * 4 rgba(v.$color-black, 0.15);
  transition: transform 0.3s;

  &__icon {
    font-size: v.$px10 * 6;
    margin-block: v.$px10 * 1.5 v.$px10 * 2.5;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      v.$color-primary-light,
      v.$color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-#{v.$px10 * 1.5}) scale(1.03);
  }
}
