@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.popup {
  height: 100vh;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(v.$color-black, 0.8);
  z-index: 3000;

  transition: all 0.3s;

  &__content {
    @include m.absoluteCenter;
    width: 75%;
    height: max-content;

    display: flex;

    border-radius: 3px;
    background-color: v.$color-white;
    box-shadow: 0 f.rem(20px) f.rem(40px) rgba(v.$color-black, 0.2);
    overflow: hidden;

    position: relative;

    transition: all 0.4s 0.2s;
  }

  &__left {
    width: 33%;

    display: flex;
    flex-direction: column;
  }

  &__right {
    width: 67%;
    padding: f.rem(30px) f.rem(50px);
  }

  &__img {
    height: 50%;
    width: 100%;
  }

  &__text {
    font-size: f.rem(14px);
    margin-bottom: f.rem(40px);

    column-count: 2;
    column-gap: f.rem(40px);
    column-rule: 1px solid v.$color-grey-light-2;

    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &__close {
    display: inline-block;

    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: f.rem(20px);
    line-height: 1;
    color: v.$color-grey-dark-3;
    position: absolute;
    top: f.rem(30px);
    right: f.rem(30px);
    transition: all 0.2s;

    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: v.$color-primary;
      }
    }

    &:active {
      color: v.$color-primary;
    }
  }
}
