@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.story-container {
  position: relative;
  max-width: f.rem(1300px);
  margin: 0 auto;
  margin-bottom: 2rem;
}

.story {
  width: 85%;
  height: 100%;

  font-size: v.$font-size-default;
  background-color: rgba(v.$color-white, 0.6);
  border-radius: v.$border-radius-small;
  box-shadow: 0 f.rem(30px) f.rem(60px) rgba(v.$color-black, 0.1);

  padding: f.rem(60px);
  padding-left: f.rem(90px);
  margin: 0 auto;

  transform: skewX(-12deg);
  position: relative;

  @include m.respondMax(v.$screen-medium) {
    width: 100%;
    padding: f.rem(50px);
    padding-left: f.rem(75px);
  }

  @include m.respondMax(v.$screen-small) {
    tranform: skewX(12deg);
    padding: f.rem(40px);
    transform: skewX(0);
  }

  &__flexbox {
    @include m.respondMax(v.$screen-small) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__shape {
    width: f.rem(150px);
    height: f.rem(150px);

    float: left;
    shape-outside: circle(50% at 50% 50%);
    border-radius: 50%;
    overflow: hidden;
    transform: translateX(f.rem(-30px)) skewX(12deg);
    position: relative;

    @include m.respondMax(v.$screen-small) {
      float: none;
      transform: skewX(0);
    }
  }
  &__img {
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);

    transition: all 0.5s;

    @include m.respondMax(v.$screen-medium) {
      filter: blur(3px) brightness(0.9);
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__text {
    transform: skewX(12deg);

    @include m.respondMax(v.$screen-small) {
      transform: skewX(0);
      margin-top: f.rem(30px);
    }
  }

  &__caption {
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);

    font-size: f.rem(17px);
    color: white;
    text-transform: uppercase;
    text-align: center;

    transition: all 0.5s;
    backface-visibility: hidden;

    @include m.respondMax(v.$screen-medium) {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  @media (hover: hover) and (pointer: fine), (min-width: 1201px) {
    &:hover &__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    &:hover &__img {
      filter: blur(3px) brightness(0.9);
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.btn--story {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: f.rem(32px);
  color: rgba(v.$color-primary, 0.8);

  cursor: pointer;
}

.btn--prev {
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}
.btn--next {
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
}
