@use "../abstracts/variables" as v;

.story {
  width: 75%;
  background-color: v.$color-white;
  border-radius: 3px;
  box-shadow: 0 v.$px10 * 3 v.$px10 * 6 rgba(v.$color-black, 0.1);

  padding: v.$px10 * 6;
  margin: 0 auto;
}
