@use "../abstracts/functions" as f;

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(f.rem(-100px));
  }

  80% {
    transform: translateX(f.rem(10px));
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(f.rem(100px));
  }

  80% {
    transform: translateX(f.rem(-10px));
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(f.rem(30px));
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
