@use "../abstracts/variables" as v;

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(v.$px10 * -10);
  }

  80% {
    transform: translateX(v.$px10);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(v.$px10 * 10);
  }

  80% {
    transform: translateX(-#{v.$px10});
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(v.$px10 * 3);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
