@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid v.$color-tertiary-light;

  &:not(:focus-visible) {
    outline: none;
  }
}
*:focus-visible {
  outline: 2px solid v.$color-tertiary-light;
  border-radius: 2px;
}

body {
  height: 100%;
  box-sizing: border-box;

  // @include m.respondMax(v.$screen-smallest) {
  // }
}

.hidden {
  display: none;
}
