@use "../abstracts/variables" as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid v.$color-tertiary-light;

  &:not(:focus-visible) {
    outline: none;
  }
}
*:focus-visible {
  outline: 2px solid v.$color-tertiary-light;
  border-radius: 2px;
}

body {
  height: 100%;
  box-sizing: border-box;
}
