@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: v.$font-size-default;
  font-size: #{f.fluid(12px, 20px, 280px, 1920px)};
  line-height: 1.7;
  color: v.$color-grey-dark-1;
}

.heading-primary {
  color: v.$color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  margin-bottom: f.rem(60px);

  &--main {
    display: block;
    font-size: f.rem(60px);
    font-size: #{f.fluid(25px, 60px, 280px, 1920px)};
    font-weight: 400;
    letter-spacing: f.rem(35px);
    padding-left: f.rem(35px);
    padding-left: #{f.fluid(10px, 35px, 280px, 1920px)};

    animation: moveInFromLeft 1s ease-out;

    @include m.respondMax(v.$screen-smallest) {
      letter-spacing: #{f.fluid(10px, 20px, 280px, 600px)};
    }
  }

  &--sub {
    display: block;
    font-size: f.rem(20px);
    font-size: #{f.fluid(15px, 30px, 280px, 1920px)};
    font-weight: 700;
    letter-spacing: f.rem(17px);
    padding-left: f.rem(17px);

    animation: moveInFromRight 1s ease-out;

    @include m.respondMax(v.$screen-smallest) {
      letter-spacing: f.rem(5px);
    }
  }
}

.heading-secondary {
  font-size: f.rem(35px);
  font-size: #{f.fluid(16px, 35px, 280px, 1920px)};
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    v.$color-primary-light,
    v.$color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: skew(15deg, 2deg) scale(1.1);
      text-shadow: f.rem(5px) f.rem(10px) f.rem(20px) rgba(v.$color-black, 0.2);
    }
  }
}

.heading-tertiary {
  font-size: v.$font-size-default;
  font-size: #{f.fluid(14px, 24px, 280px, 1920px)};
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: v.$font-size-default;
  font-size: #{f.fluid(12px, 20px, 280px, 1920px)};

  &:not(:last-child) {
    margin-bottom: f.rem(30px);
  }
}
