@use "../abstracts/variables" as v;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: v.$font-size-default;
  line-height: 1.7;
  color: v.$color-grey-dark;

  padding: v.$font-size-10 * 3;
}

.heading-primary {
  color: v.$color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  margin-bottom: v.$font-size-10 * 6;

  &--main {
    display: block;
    font-size: v.$font-size-10 * 6;
    font-weight: 400;
    letter-spacing: v.$font-size-10 * 3.5;
    padding-left: v.$font-size-10 * 3.5;

    animation: moveInFromLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: v.$font-size-10 * 2;
    font-weight: 700;
    letter-spacing: v.$font-size-10 * 1.7;
    padding-left: v.$font-size-10 * 1.7;

    animation: moveInFromRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: v.$font-size-10 * 3.5;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    v.$color-primary-light,
    v.$color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: calc(v.$font-size-10 / 2) v.$font-size-10 v.$font-size-10 * 2
      rgba(v.$color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: v.$font-size-default;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: v.$font-size-default;

  &:not(:last-child) {
    margin-bottom: v.$font-size-10 * 3;
  }
}
