@use "../abstracts/functions" as f;

.u-center-text {
  text-align: center;
}

.u-margin-top-medium {
  margin-top: f.rem(60px);
}
.u-margin-top-big {
  margin-top: f.rem(80px);
}
.u-margin-top-huge {
  margin-top: f.rem(100px);
}

.u-margin-bottom-small {
  margin-bottom: f.rem(15px);
}
.u-margin-bottom-medium {
  margin-bottom: f.rem(40px);
}
.u-margin-bottom-big {
  margin-bottom: f.rem(80px);
}
.u-margin-bottom-huge {
  margin-bottom: f.rem(100px);
}
