@use "../abstracts/variables" as v;

.u-center-text {
  text-align: center;
}

.u-margin-top-big {
  margin-bottom: v.$px10 * 8;
}
.u-margin-top-huge {
  margin-top: v.$px10 * 10;
}

.u-margin-bottom-small {
  margin-bottom: v.$px10 * 1.5;
}
.u-margin-bottom-medium {
  margin-bottom: v.$px10 * 4;
}
.u-margin-bottom-big {
  margin-bottom: v.$px10 * 8;
}
