@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.section-about {
  background-color: v.$color-grey-light-1;
  padding-block: f.rem(300px);
  margin-top: -20vh;

  @include m.respondMax(v.$screen-small) {
    padding-block: f.rem(285px);
  }

  @include m.respondMax(v.$screen-smallest) {
    padding-block: f.rem(200px);
  }

  & .grid .col {
    height: 100%;
  }
}

.section-features {
  position: relative;
  transform: skewY(-7deg);

  padding-block: f.rem(200px);
  margin-top: f.rem(-90px);

  @include m.respondMax(v.$screen-small) {
    padding-block: f.rem(150px);
  }
  @include m.respondMax(v.$screen-smallest) {
    padding-block: f.rem(130px);
  }

  & .grid {
    grid-auto-rows: 1fr;
    row-gap: v.$gutter-vertical;

    @include m.respondMax(v.$screen-medium) {
      grid-template-columns: 1fr 1fr;
    }

    @include m.respondMax(v.$screen-small) {
      grid-template-columns: 1fr;
      max-width: f.rem(500px);
    }
  }

  & .col {
    height: 100%;
  }

  & > * {
    transform: skewY(7deg);
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(v.$color-primary-light, 0.8),
        rgba(v.$color-primary-dark, 0.8)
      ),
      url(../img/nat-4.jpg);
    background-size: cover;

    z-index: -1;
  }
}

.section-tours {
  background-color: v.$color-grey-light-1;
  padding-block: f.rem(250px) f.rem(70px);
  margin-top: f.rem(-90px);

  & .col {
    height: 100%;
  }

  @include m.respondMax(v.$screen-medium) {
    & .grid {
      column-gap: f.rem(30px);
    }
  }

  @include m.respondMax(v.$screen-small) {
    padding-block: f.rem(200px) f.rem(50px);

    & .grid {
      max-width: f.rem(500px);
    }
  }
  @include m.respondMax(v.$screen-smallest) {
    padding-block: f.rem(180px) f.rem(30px);
  }
}

.section-stories {
  position: relative;
  padding-block: f.rem(150px);

  @include m.respondMax(v.$screen-small) {
    padding-block: f.rem(100px);
  }
  @include m.respondMax(v.$screen-smallest) {
    padding-block: f.rem(80px);
  }
}

.section-book {
  padding-block: f.rem(150px);
  background-image: linear-gradient(
    to right bottom,
    v.$color-primary-light,
    v.$color-primary-dark
  );

  @include m.respondMax(v.$screen-small) {
    padding-block: f.rem(100px);
  }
  @include m.respondMax(v.$screen-smallest) {
    padding-block: f.rem(80px);
  }
}
.book-container {
  max-width: f.rem(1140px);
  margin: 0 auto;
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba(v.$color-white, 0.9) 0% 49.9%,
      transparent 50% 100%
    ),
    url(../../img/nat-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v.$border-radius-small;
  box-shadow: 0 f.rem(15px) f.rem(40px) rgba(v.$color-black, 0.2);

  // height: v.$px10 * 50;

  &__form {
    width: 50%;
    padding: f.rem(60px);
  }
}

.section {
  padding-inline: f.rem(80px);
  padding-inline: #{f.fluid(25px, 100px, 280px, 1200px)};
}
