@use "../abstracts/variables" as v;

.section-about {
  background-color: v.$color-grey-light-1;
  padding: v.$px10 * 25 0;
  margin-top: -20vh;
}

.section-features {
  position: relative;
  transform: skewY(-7deg);

  padding: v.$px10 * 20 0;
  margin-top: -#{v.$px10 * 9};

  & > * {
    transform: skewY(7deg);
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(v.$color-primary-light, 0.8),
        rgba(v.$color-primary-dark, 0.8)
      ),
      url(../img/nat-4.jpg);
    background-size: cover;

    z-index: -1;
  }
}

.section-tours {
  background-color: v.$color-grey-light-1;
  padding: v.$px10 * 25 0 v.$px10 * 7 0;
  margin-top: -#{v.$px10 * 9};
}

.section-stories {
  position: relative;
  padding: v.$px10 * 15 0;
}

.section-book {
  padding: v.$px10 * 15 0;
  background-image: linear-gradient(
    to right bottom,
    v.$color-primary-light,
    v.$color-primary-dark
  );
}
.book-container {
  max-width: v.$px10 * 114;
  margin: 0 auto;
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba(v.$color-white, 0.9) 0% 49.9%,
      transparent 50% 100%
    ),
    url(../../img/nat-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v.$border-radius-small;
  box-shadow: 0 v.$px10 * 1.5 v.$px10 * 4 rgba(v.$color-black, 0.2);

  // height: v.$px10 * 50;

  &__form {
    width: 50%;
    padding: v.$px10 * 6;
  }
}
